extends layout

block content
  .container-fluid
  .row
    .col-md-12
      .page-header
        h1
          | Google Cloud Storage
  .row
    .col-md-8
      form(
        role='form'
        enctype='multipart/form-data'
        method='POST'
        action='/upload/image'
      )
        .form-group
          input#exampleInputFile.form-control-file(type='file' name='image' multiple)
        button.btn.btn-primary(type='submit')
          | Submit
      table.table
        thead
          tr
            th
              | #
            th
              | Status
        tbody
          - storageFiles.forEach(function(file){
            tr
              td
                | #{file.name}
              td
                | Default
          - })
    .col-md-4
      .jumbotron
        h2
          | Vision Feature Rank
        p
          | [{"feature":"qwer","rank":99},{"fearure":"asdf","rank":87},{"feature":"zxcv","rank":55},{"feature":"rtyu","rank":34}]
        p
          a.btn.btn-primary.btn-large(href='#') Show more

